/*----------------------------------------------------------
El color base de esta plantilla es #5c87b2. Si desea usar
otro color, empiece por reemplazar todas las instancias de
#5c87b2 con el nuevo color.
----------------------------------------------------------*/
.body
{
    background-image: url = ("Content/ImagesSystem/fondo.jpg");
    background-attachment: fixed;
    /*background-color: #5c87b2;*/
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* TÍTULOS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

.button 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}.button:active {
	top:1px;
}

.select
{
    height: 100px;
    width: 250px;
    font-size: x-large;
    font-family: 'comic Sans MS';
}

.textIngredients
{
    color: rgb(0, 0, 0); 
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 11px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    letter-spacing: normal; 
    line-height: 16px; 
    orphans: auto; 
    text-align: left; 
    text-indent: 0px; 
    text-transform: none; 
    white-space: normal; 
    word-spacing: 0px; 
    -webkit-text-stroke-width: 0px; 
    background-color: rgb(255, 255, 255); 
    display: inline !important; 
    float: none;
}

.textboxDescription
{
    font-family: 'comic Sans MS';
    font-size: large;
    text-align: left;
    width: 50%;
    height: 100px;
}

.textboxSearch
{
    width:100px;
    height:250px;
    font-size: x-large;
    font-family: 'comic Sans MS';
    vertical-align: middle;
}

/* esta regla crea etiquetas <h2> que son el 
primer elemento secundario de las columnas de tabla izquierda y derecha */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* ELEMENTOS DE DISEÑO PRIMARIO   
----------------------------------------------------------*/

/* puede especificar un porcentaje mayor o menor para el 
ancho de página. O bien puede especificar un ancho de píxel exacto. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    /*background: url = ("/Content/ImagesSystem/logo1.jpg");*/
    background-image: url('/Content/ImagesSystem/logo1.jpg');
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
    height: 55px;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* solo IE6 aplica las propiedades de CSS con un carácter de subrayado inicial */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* MENÚ TABULADOR   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* ELEMENTOS DE DISEÑO DE FORMULARIOS  
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLA
----------------------------------------------------------*/

.table
{
    border: 1px solid #CCCCCC;
    border-collapse: separate;
    text-align: center;
    background-color: transparent;
    width: auto;
    border-spacing: 5px;
}

.table2
{
    border-style: solid none None solid;
    border-width: 2px;
    border-color: #CCCCCC;
    border-collapse: separate;
    text-align: justify;
    background-color: transparent;
    width: 90%;
    border-spacing: 10px;
}


/* VARIOS  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
    width: 150px;
    height: 64px;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Estilos para aplicaciones auxiliares de editor y visualización
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
    font-family: 'Comic Sans MS';
}

.tri-state
{
    width: 6em;
}
